<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Engine Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Engine
 * @copyright  Copyright (c)  2023+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Engine
 * @module   Engine
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <crowdsec_engine>
            <general>
                <environment>dev</environment>
                <api_timeout>120</api_timeout>
            </general>
            <crons>
                <push_signals_expr><![CDATA[0 0 30 2 *]]></push_signals_expr>
                <prune_cache_expr><![CDATA[0 0 30 2 *]]></prune_cache_expr>
                <refresh_cache_expr><![CDATA[0 0 30 2 *]]></refresh_cache_expr>
                <clean_events_expr><![CDATA[0 0 30 2 *]]></clean_events_expr>
                <event_lifetime>1</event_lifetime>
            </crons>
            <decisions>
                <bounce_ban>1</bounce_ban>
                <subscribed_scenarios>
                    <![CDATA[crowdsecurity/http-backdoors-attempts,crowdsecurity/http-bad-user-agent]]>
                </subscribed_scenarios>
                <cache>
                    <technology>phpfs</technology>
                </cache>
            </decisions>
        </crowdsec_engine>
    </default>
</config>
