<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Engine Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Engine
 * @copyright  Copyright (c)  2023+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Engine
 * @module   Engine
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="crowdsec_engine" translate="label,comment,tooltip" type="text" sortOrder="520" showInDefault="1">
            <tab>security</tab>
            <resource>CrowdSec_Engine::config</resource>
            <class>separator-top</class>
            <label>CrowdSec Engine</label>
            <group id="general" translate="label, comment" showInDefault="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="environment" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                    <label>Environment</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\Env</source_model>
                </field>
                <field id="enrollment_key" translate="label,comment,tooltip" type="password" sortOrder="400" showInDefault="1">
                    <label><![CDATA[Enrollment key]]></label>
                    <comment><![CDATA[See your CrowdSec console to obtain the key.]]></comment>
                </field>
                <field id="engine_name" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1" >
                    <label><![CDATA[Security engine name]]></label>
                    <comment><![CDATA[The name that will be display in the console for the instance.]]></comment>
                    <validate>required-entry validate-alphanum-with-spaces</validate>
                    <depends>
                        <field id="crowdsec_engine/general/enrollment_key" negative="1"></field>
                    </depends>
                </field>
                <field id="force_enroll" translate="label,comment,tooltip" type="select" sortOrder="600" showInDefault="1">
                    <label>Force enroll</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, enrolling will overwrite an already enrolled engine.]]></comment>
                    <depends>
                        <field id="crowdsec_engine/general/enrollment_key" negative="1"></field>
                    </depends>
                </field>
                <field id="enroll"  translate="button_label" sortOrder="700" showInDefault="1">
                    <button_label>Enroll your security engine</button_label>
                    <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Enroll</frontend_model>
                </field>
            </group>
            <!-- Signal Scenarios -->
            <group id="signals" translate="label, comment" showInDefault="1">
                <label>Signals</label>
                <comment><![CDATA[Choose and configure scenarios to trigger alerts and push signals to CrowdSec.]]></comment>
                <attribute type="expanded">1</attribute>
                <field id="scenarios" translate="label,comment,tooltip" type="multiselect" sortOrder="200" showInDefault="1">
                    <label>List of signal scenario</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\SignalScenario</source_model>
                </field>
                <field id="ban_duration" translate="label,comment,tooltip" type="text" sortOrder="300" showInDefault="1">
                    <label><![CDATA[Ban duration]]></label>
                    <comment><![CDATA[Ban duration (in seconds) for an IP that triggers an alert.]]></comment>
                    <validate>required-entry validate-digits validate-no-zero</validate>
                </field>
                <field id="ban_locally" translate="label,comment,tooltip" type="select" sortOrder="400" showInDefault="1">
                    <label>Ban IP locally when a scenario triggers an alert</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, a "ban" decision will be added to local cache.]]></comment>
                </field>
            </group>
            <!-- Decisions -->
            <group id="decisions" translate="label, comment" showInDefault="1">
                <label>Decisions</label>
                <attribute type="expanded">1</attribute>
                <comment><![CDATA[Choose and configure how you want to handle decisions]]></comment>
                <field id="bounce_ban" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                    <label>Bounce banned IP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, a cached "banned" IP will be blocked (403).]]></comment>
                </field>
                <field id="subscribed_scenarios" translate="label,comment,tooltip" type="multiselect" sortOrder="200" showInDefault="1">
                    <label>List of subscribed scenario</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\SubscribedScenario</source_model>
                    <comment><![CDATA[Selected scenarios will be used for refreshing CrowdSec decisions from CAPI.]]></comment>
                </field>
                <!-- Cache -->
                <group id="cache" translate="label,comment,tooltip" sortOrder="300" showInDefault="1">
                    <label><![CDATA[Cache configuration]]></label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Polish the decisions cache settings by selecting the technology best suited to your use.]]></comment>
                    <field id="technology" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Technology</label>
                        <source_model>CrowdSec\Engine\Model\Config\Source\Cache</source_model>
                        <comment><![CDATA[Redis or Memcached is faster than the File system cache.]]></comment>
                    </field>
                    <field id="clear_cache"  translate="button_label" sortOrder="200" showInDefault="1">
                        <button_label>Clear cache</button_label>
                        <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Cache\Clear</frontend_model>
                    </field>
                    <field id="redis_dsn" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                        <label><![CDATA[Redis DSN ]]></label>
                        <tooltip><![CDATA[Example of DSN: redis://localhost:6379/0]]></tooltip>
                        <comment><![CDATA[Fill in this field only if you have chosen the Redis cache.]]></comment>
                        <depends>
                            <field id="crowdsec_engine/decisions/cache/technology">redis</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="memcached_dsn" translate="label,comment,tooltip" type="text" sortOrder="600" showInDefault="1">
                        <label><![CDATA[Memcached DSN ]]></label>
                        <tooltip><![CDATA[Example of DSN: memcached://localhost:11211]]></tooltip>
                        <comment><![CDATA[Fill in this field only if you have chosen the Memcached cache.]]></comment>
                        <depends>
                            <field id="crowdsec_engine/decisions/cache/technology">memcached</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                </group>
            </group>
            <!-- Crons -->
            <group id="crons" translate="label,comment,tooltip" showInDefault="1">
                <label><![CDATA[Crons]]></label>
                <attribute type="expanded">1</attribute>
                <comment><![CDATA[
                        Please use the standard cron syntax :  [minute] [hour] [day of month] [month] [day of week]. <br>
                        To disable a cron job, you should set 0 0 30 2 * <a href="https://experienceleague.adobe.com/docs/commerce-operations/configuration-guide/crons/custom-cron-reference.html" target="_blank">as explained in the official documentation.</a> ]]></comment>
                <field id="push_signals_expr" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1">
                    <label><![CDATA[Cron expression for pushing signals ]]></label>
                    <comment><![CDATA[This task will push signals for which an alert has been triggered.]]></comment>
                    <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                    </tooltip>

                    <validate>required-entry</validate>
                </field>
                <field id="push_signals"  translate="button_label" sortOrder="300" showInDefault="1">
                    <button_label>Push signals</button_label>
                    <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Signals\Push</frontend_model>
                </field>
                <field id="refresh_cache_expr" translate="label,comment,tooltip" type="text" sortOrder="400" showInDefault="1">
                    <label><![CDATA[Cron expression for cache refresh ]]></label>
                    <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                    </tooltip>
                    <comment><![CDATA[This task will refresh decisions from CAPI.]]></comment>
                    <validate>required-entry</validate>
                </field>
               <field id="refresh_cache"  translate="button_label" sortOrder="500" showInDefault="1">
                    <button_label>Refresh cache</button_label>
                    <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Cache\Refresh</frontend_model>
                </field>
                <field id="prune_cache_expr" translate="label,comment,tooltip" type="text" sortOrder="600" showInDefault="1">
                    <label><![CDATA[Cron expression for file system cache pruning]]></label>
                    <tooltip><![CDATA[
                            Examples:
                            <ul>
                                <li>Every minute : * * * * * </li>
                                <li>At midnight : 0 0 * * * </li>
                                <li>At every 5th minute : */5 * * * *</li>
                                <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                            </ul>
                            ]]>
                    </tooltip>
                    <depends>
                        <field id="crowdsec_engine/decisions/cache/technology">phpfs</field>
                    </depends>
                    <comment><![CDATA[Unlike Redis and Memcached, the file system cache has no automatic pruning method. You can use this task to prune the file system cache on regular basis.]]></comment>
                    <validate>required-entry</validate>
                </field>
                <field id="clean_events_expr" translate="label,comment,tooltip" type="text" sortOrder="700" showInDefault="1">
                    <label><![CDATA[Cron expression for cleaning events]]></label>
                    <comment><![CDATA[This task will delete old events in database]]></comment>
                    <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                    </tooltip>
                    <validate>required-entry</validate>
                </field>
                <field id="event_lifetime" translate="label,comment,tooltip" type="text" sortOrder="800" showInDefault="1">
                    <label><![CDATA[Event lifetime]]></label>
                    <comment><![CDATA[Events last detected more than X days ago will be deleted by the cron task above.]]></comment>
                    <validate>required-entry validate-digits validate-no-zero</validate>
                    <depends>
                        <field id="crowdsec_engine/crons/clean_events_expr" negative="1">0 0 30 2 *</field>
                    </depends>
                </field>
            </group>
            <!-- Advanced -->
            <group id="advanced" translate="label,comment,tooltip" showInDefault="1">
            <label><![CDATA[Advanced]]></label>
            <attribute type="expanded">1</attribute>
                <field id="log_level" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                    <label>Log level</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\LogLevel</source_model>
                    <comment><![CDATA[Log messages will be written in "var/log/crowdsec-engine.log".]]></comment>
                </field>
                <field id="api_timeout" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1" canRestore="1">
                    <label><![CDATA[Crowdsec API timeout]]></label>
                    <comment><![CDATA[Maximum execution time  (in seconds) for a CAPI request.<br> Set a negative value (e.g. -1) to allow unlimited request timeout.]]></comment>
                    <validate>required-entry validate-number validate-no-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
