<?xml version="1.0"?>
<!--
/**
 * CrowdSec_Engine Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT LICENSE
 * that is bundled with this package in the file LICENSE
 *
 * @category   CrowdSec
 * @package    CrowdSec_Engine
 * @copyright  Copyright (c)  2023+ CrowdSec
 * @author     CrowdSec team
 * @see        https://crowdsec.net CrowdSec Official Website
 * @license    MIT LICENSE
 *
 */

/**
 *
 * @category CrowdSec
 * @package  CrowdSec_Engine
 * @module   Engine
 * @author   CrowdSec team
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="crowdsec_engine" translate="label,comment,tooltip" type="text" sortOrder="520" showInDefault="1">
            <tab>security</tab>
            <resource>CrowdSec_Engine::config</resource>
            <class>separator-top</class>
            <label>CrowdSec Engine</label>
            <group id="general" translate="label, comment" showInDefault="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                <field id="environment" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                    <label>Environment</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\Env</source_model>
                </field>
                <field id="log_level" translate="label,comment,tooltip" type="select" sortOrder="200" showInDefault="1">
                    <label>Log level</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\LogLevel</source_model>
                    <comment><![CDATA[Log messages will be written in "var/log/crowdsec-engine.log".]]></comment>
                </field>
                <field id="api_timeout" translate="label,comment,tooltip" type="text" sortOrder="300" showInDefault="1" canRestore="1">
                    <label><![CDATA[Crowdsec API timeout]]></label>
                    <comment><![CDATA[Maximum execution time  (in seconds) for a CAPI request.<br> Set a negative value (e.g. -1) to allow unlimited request timeout.]]></comment>
                    <validate>required-entry validate-number validate-no-zero</validate>
                </field>
            </group>
            <!-- Signal Scenarios -->
            <group id="signal_scenarios" translate="label, comment" showInDefault="1">
                <label>Signals</label>
                <comment><![CDATA[Choose and configure scenarios to trigger alerts and send signals to CrowdSec.]]></comment>
                <attribute type="expanded">1</attribute>
                <field id="list" translate="label,comment,tooltip" type="multiselect" sortOrder="200" showInDefault="1">
                    <label>List of signal scenario</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\SignalScenario</source_model>
                </field>
                <field id="ban_locally" translate="label,comment,tooltip" type="select" sortOrder="300" showInDefault="1">
                    <label>Ban IP locally when a scenario triggers an alert</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, a "ban" decision will be added to local cache.]]></comment>
                </field>
            </group>
            <!-- Decisions -->
            <group id="decisions" translate="label, comment" showInDefault="1">
                <label>Decisions</label>
                <attribute type="expanded">1</attribute>
                <comment><![CDATA[Choose and configure how you want to handle decisions]]></comment>
                <field id="bounce_ban" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                    <label>Bounce banned IP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, a cached "banned" IP will be blocked (403).]]></comment>
                </field>
                <field id="subscribed_scenarios" translate="label,comment,tooltip" type="multiselect" sortOrder="200" showInDefault="1">
                    <label>List of subscribed scenario</label>
                    <source_model>CrowdSec\Engine\Model\Config\Source\SubscribedScenario</source_model>
                    <comment><![CDATA[Selected scenarios will be used for refreshing CrowdSec decisions from CAPI.]]></comment>
                </field>
                <!-- Cache -->
                <group id="cache" translate="label,comment,tooltip" sortOrder="300" showInDefault="1">
                    <label><![CDATA[Cache configuration]]></label>
                    <attribute type="expanded">1</attribute>
                    <comment><![CDATA[Polish the decisions cache settings by selecting the technology best suited to your use.]]></comment>
                    <field id="technology" translate="label,comment,tooltip" type="select" sortOrder="100" showInDefault="1">
                        <label>Technology</label>
                        <source_model>CrowdSec\Engine\Model\Config\Source\Cache</source_model>
                        <comment><![CDATA[Redis or Memcached is faster than the File System cache.]]></comment>
                    </field>
                    <!--<field id="clear_cache"  translate="button_label" sortOrder="200" showInDefault="1">
                        <button_label>Clear cache</button_label>
                        <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Cache\Clear</frontend_model>
                    </field>
                    <field id="prune_cache"  translate="button_label" sortOrder="300" showInDefault="1">
                        <button_label>Prune Filesystem cache</button_label>
                        <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Cache\Prune</frontend_model>
                        <depends>
                            <field id="crowdsec_engine/bouncing/cache/technology">phpfs</field>
                        </depends>
                    </field>-->
                    <field id="redis_dsn" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                        <label><![CDATA[Redis DSN ]]></label>
                        <tooltip><![CDATA[Example of DSN: redis://localhost:6379/0]]></tooltip>
                        <comment><![CDATA[Fill in this field only if you have chosen the Redis cache.]]></comment>
                        <depends>
                            <field id="crowdsec_engine/decisions/cache/technology">redis</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                    <field id="memcached_dsn" translate="label,comment,tooltip" type="text" sortOrder="600" showInDefault="1">
                        <label><![CDATA[Memcached DSN ]]></label>
                        <tooltip><![CDATA[Example of DSN: memcached://localhost:11211]]></tooltip>
                        <comment><![CDATA[Fill in this field only if you have chosen the Memcached cache.]]></comment>
                        <depends>
                            <field id="crowdsec_engine/decisions/cache/technology">memcached</field>
                        </depends>
                        <validate>required-entry</validate>
                    </field>
                </group>
            </group>
            <!-- Crons -->
            <group id="crons" translate="label,comment,tooltip" showInDefault="1">
                <label><![CDATA[Crons]]></label>
                <attribute type="expanded">1</attribute>
                <field id="send_signals_expr" translate="label,comment,tooltip" type="text" sortOrder="200" showInDefault="1">
                    <label><![CDATA[Cron expression for sending signals ]]></label>
                    <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                    </tooltip>
                    <comment><![CDATA[
                        Please use the standard cron syntax :  [minute] [hour] [day of month] [month] [day of week]. <br>
                        To disable this cron job, you can set 0 0 30 2 * <a href="https://devdocs.magento.com/guides/v2.4/config-guide/cron/custom-cron-ref.html#disable-cron-job" target="_blank">as explained in the official documentation.</a> ]]></comment>
                    <validate>required-entry</validate>
                </field>
                <field id="send_signals"  translate="button_label" sortOrder="300" showInDefault="1">
                    <button_label>Send signals</button_label>
                    <frontend_model>CrowdSec\Engine\Block\Adminhtml\System\Config\Signals\Send</frontend_model>
                </field>
                <field id="refresh_cron_expr" translate="label,comment,tooltip" type="text" sortOrder="400" showInDefault="1">
                    <label><![CDATA[Cron expression for cache refresh ]]></label>
                    <tooltip><![CDATA[
                        Examples:
                        <ul>
                            <li>Every minute : * * * * * </li>
                            <li>At midnight : 0 0 * * * </li>
                            <li>At every 5th minute : */5 * * * *</li>
                            <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                        </ul>
                        ]]>
                    </tooltip>
                    <comment><![CDATA[
                        Please use the standard cron syntax :  [minute] [hour] [day of month] [month] [day of week]. <br>
                        To disable this cron job, you can set 0 0 30 2 * <a href="https://devdocs.magento.com/guides/v2.4/config-guide/cron/custom-cron-ref.html#disable-cron-job" target="_blank">as explained in the official documentation.</a> ]]></comment>
                    <depends>
                        <field id="crowdsec_bouncer/advanced/mode/stream">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
               <!-- <field id="refresh_cache"  translate="button_label" sortOrder="300" showInDefault="1">
                    <button_label>Refresh cache</button_label>
                    <frontend_model>CrowdSec\Bouncer\Block\Adminhtml\System\Config\Cache\Refresh</frontend_model>
                    <depends>
                        <field id="crowdsec_bouncer/advanced/mode/stream">1</field>
                    </depends>
                </field>-->
                <field id="prune_cron_expr" translate="label,comment,tooltip" type="text" sortOrder="500" showInDefault="1">
                    <label><![CDATA[Cron expression for file system cache pruning]]></label>
                    <tooltip><![CDATA[
                            Examples:
                            <ul>
                                <li>Every minute : * * * * * </li>
                                <li>At midnight : 0 0 * * * </li>
                                <li>At every 5th minute : */5 * * * *</li>
                                <li>At minute 15 and 45 past every hour from 7 through 23 : 15,45 7-23 * * * </li>
                            </ul>
                            ]]>
                    </tooltip>
                    <comment><![CDATA[To disable this cron job, you can set 0 0 30 2 * ]]></comment>
                    <depends>
                        <field id="crowdsec_engine/bouncing/cache/technology">phpfs</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
